@model Ecole_Coranique.Models.Enseignant

@{
	ViewData["Title"] = "أنشطة المدرس";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>أنشطة المدرس</h1>

<div>
	<h4>المدرس</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Prenom)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Prenom)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Nom)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Nom)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Phone)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Phone)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Adresse)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Adresse)
		</dd>
	</dl>
	<hr />
	@foreach (var group in Model.EnseignantGroupes) {
		<div class="alert alert-dismissible alert-info">
			<h4 class="alert-heading">المجموعة @group.Numero @group.Nom</h4>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">الإسم</th>
					<th scope="col">اللقب</th>
					<th scope="col">تاريخ الميلاد</th>
					<th scope="col">الهاتف</th>
					<th scope="col">البريد الإلكتروني</th>
					<th scope="col">العنوان</th>
					<th scope="col">التفاصيل</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var etudiant in group.GroupeEtudiants) {
					<tr>
						<td>@etudiant.Nom</td>
						<td>@etudiant.Prenom</td>
						<td>@etudiant.Naissance.ToString("yyyy-MM-dd")</td>
						<td>@etudiant.Phone</td>
						<td>@etudiant.Email</td>
						<td>@etudiant.Adresse</td>
						<td><a asp-action="StudentTrack" asp-route-id="@etudiant.Id">الطالب</a></td>
					</tr>
				}
			</tbody>
		</table>
		<hr />
	}
</div>
